<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="./css/login.css">
  </head>

  <body style="background-image: url({{ url_for('static', filename='img/login.jpg') }});
                                   background-size: 100vw 100vh;">
    <div class="modal-dialog text-center">
      <div class="col-sm-10 main-section">
        <div class="modal-content">
          <div class="col-12">
            <img class="mb-4" src="./img/ayudaquy_logo.png" alt="" width="250" height="150">
          </div>
          <div style="color: white;">
            <p>Gracias por enviarnos tu solicitud de registro.</p>
            <p>En breves momentos nos comunicaremos contigo</p>
            <p>para corroborar los datos enviados.</p>
            <p ALIGN=right>-Equipo Ayudaquy</p>
          </div>
          <br>
          <div class="col-12 forgot">
              <a href="/login">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </body>
</html>