{% extends 'layout.html' %}

{% block body %}
<div class="container pt-5">
    <div class="jumbotron" style="background-image: url({{ url_for('static',filename='img/necesidades1.jpg') }});
                              background-size: 1200px 220px;
                              background-position:center center;">
    <h1 class="display-4" style="color: white; font-weight: bold;;-webkit-text-stroke: 2px black">Gestión de necesidades</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
            {% for i in mensajes  %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ i }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor  %}
            {% endif %}
            {% endwith %}
            <div class="card card-body bg-dark">
                <form action="/agregarNecesidad/{{ubicacion.0}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Ubicacion" value="{{ ubicacion.1 }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="elemento" placeholder="Elemento" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="cantmeta" placeholder="Cantidad Meta" class="form-control">
                    </div>
                    <div class="form-group">
                        <select name="idunidad" id="idunidad" class="form-control">
                            {% for i in unidades %}
                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Elemento</th>
                        <th>Uni.Medida</th>
                        <th>Cant.Meta</th>
                        <th>Cant.Actual</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in reqs %}
                        <tr>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                            <td>{{ i.3 }}</td>
                            <td>{{ i.4 }}</td>
                            <td>
                                <span>
                                    <a href="/{{ ubicacion.0 }}/editarNecesidad/{{i.0}}"><i class="fas fa-edit"></i></a> /
                                    <a href="/{{ ubicacion.0 }}/eliminarNecesidad/{{i.0}}"><i class="fas fa-trash-alt"></i></a>
                                </span>             
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}